APP_ENV=production
APP_DEBUG=false
APP_KEY=D7bnVxpMildQMYi5eGj3t4LE3TIp9jKI
APP_LOCALE=de
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

FILESYSTEM_DRIVER=ftp
FTP_HOSTNAME=ftp.yourhost.com
FTP_USERNAME=user@yourhost.com
FTP_PASSWORD=onlineftp
FTP_PORT=21

# FILESYSTEM_CLOUD=s3