.sidebar {
    border-right: 1px solid $border-color;
}

.breadcrumbs {
    width: 100%;
    margin-bottom: $gutter-width;
    padding: 0 $gutter-width;
    @include font-size(1.2);
    > li {
        display: inline;
        margin-right: 10px;
    }
    a {
        padding: 2px 5px;
        display: inline-block;
        background: #f0f0f0;
        border-radius: 2px;
    }
}

.toolbar {
    margin-bottom: $gutter-width;
    padding: $gutter-width;
}

.toolbar-group {
    display: inline-block;
    margin-right: ($gutter-width / 2);
}

#editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;

    transition: .4s ease opacity;
    &.is-visible {

    }
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    z-index: 7500;
    transition: opacity .3s 0, visibility .3s 0;

    &__container {
        border-radius: 5px;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        margin: 12em auto 0;
        background: #fff;
        position: relative;
        z-index: 8000;
        width: 400px;
        min-width: 400px;
        max-width: 90%;
        transform: translateY(-40px);
        transition: transform .3s;
    }
    &__header {
        padding: $gutter-width;
        background: #eaeaea;
        position: relative;
        border-radius: 5px 5px 0 0;
        .js-close-modal {
            font-weight: bold;
            position: absolute;
            right: 10px;
            cursor: pointer;
            color: #888;
            top: 15px;
            width: 25px;
            height: 25px;
            text-align: center;
            &:hover {
                color: #666;
            }
        }
    }
    &__body {
        padding: ($gutter-width * 2) $gutter-width;
    }
    p {
        margin-bottom: 12px;
        line-height: 1.5;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition:opacity .3s 0, visibility 0 0;

        .modal__container {
            transform: translateY(0px);
        }
    }
    &__buttons {
        font-size: 0;
        text-align: justify;
        a {
            @include font-size(1.6);
            display: block;
            height: 60px;
            position: relative;
            line-height: 60px;
            text-transform: uppercase;
            color: $black !important;
            min-width: 100%;
            background: $btn-default;
            transition: background-color .2s;
            &.is-loading {
                transition: color linear .2s;
                color: rgba(255, 255, 255, .0) !important;
                cursor: default;
            }
            &:hover {
                background: darken($btn-default, 5);
            }
        }
        li {
            display: inline-block;
            text-align: center;
            width: 50%;
            &:first-child a {
                border-radius: 0 0 0 5px;
            }
            &:last-child a {
                border-radius: 0 0 5px 0;
            }
            .primary {
                background: $btn-primary;
                color: #fff !important;
                &:hover {
                    background: lighten($btn-primary, 5) !important;
                }
            }
            .secondary {
                background: $btn-secondary;
                color: #fff !important;
                &:hover {
                    background: lighten($btn-secondary, 5) !important;
                }
            }
        }
        &--single li {
            width: 100%;
            a {
                border-radius: 0 0 5px 5px !important;
            }
        }
        &--tripple li {
            width: 33.3333%;
        }
    }
}