.clickable {
    cursor: pointer;
}

.inline {
    display: inline-block !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    .button,
    button,
    input,
    select {
        margin-right: -2px !important;
        margin-left: 10px;
    }
}
.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-grey {
    color: #777777 !important;
}

.text-green {
    color: $green !important;
}

.text-orange {
    color: $orange !important;
}

.text-red {
    color: $red !important;
}

.full-width {
    width: 100% !important;
}

.add-bottom {
    margin-bottom: $gutter-width !important;
}

.double-bottom {
    margin-bottom: $gutter-width * 2;
}

.half-bottom {
    margin-bottom: $gutter-width / 2;
}

.remove-bottom {
    margin-bottom: 0;
}

.is-hidden {
    display: none !important;
}
