/* Layout
---------------------------------------- */
$wrapper-width: 100%;
$sidebar-width: 235px;
$gutter-width: 20px;

/* Farben
---------------------------------------- */
$black: #333;
$grey: #666;
$light-grey: #EFEFF1;
$white: #fcfcfc;

$border-color: #c8c8c8;

$green: #27AE60;
$orange: #F39C12;
$red: #f4171b;

$blue: #486589;

$main-background-color: #fafafa;
$toolbar-background-color: #EFEFF1;
$nav-module-background-color: rgba(0, 0, 0, .8);

// Buttons
$btn-default: #fff;
$btn-primary: #f52f33;
$btn-secondary: #3278f5;
