input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    @include vendor-prefix('border-radius', 2px);
    @include vendor-prefix('box-shadow', 2px);
    @include vendor-prefix('transition', 'box-shadow linear 0.21799999475479126s');
    @include font-size(1.2);
    @include bg-gradient($btn-default, darken($btn-default, 1.5));
    color: #555 !important;
    border: 1px solid darken($btn-default, 20);
    border-bottom: 2px solid darken($btn-default, 20);
    display: inline-block;
    padding: 6px 14px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    min-width: 64px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    &.primary {
        color: #fff !important;
        @include bg-gradient($btn-primary, darken($btn-primary, 5));
        border: 1px solid darken($btn-primary, 20);
        border-bottom: 2px solid darken($btn-primary, 25);
        &:active {
            @include bg-gradient(darken($btn-primary, 5), $btn-primary);
        }
        &:hover {
            color: #fff !important;
            @include bg-gradient(lighten($btn-primary, 2), $btn-primary);
        }
    }
    &.secondary {
        color: #fff !important;
        @include bg-gradient($btn-secondary, darken($btn-secondary, 4));
        border: 1px solid darken($btn-secondary, 20);
        border-bottom: 2px solid darken($btn-secondary, 25);
        &:active {
            @include bg-gradient(darken($btn-secondary, 4), $btn-secondary);
        }
        &:hover {
            color: #fff !important;
            @include bg-gradient(lighten($btn-secondary, 2), $btn-secondary);
        }
    }
    &:active,
    &.is-toggled {
        transform: translate(0px, 1px);
        -webkit-transform: translate(0px, 1px);
        border-bottom-width: 1px;
        margin-bottom: 1px;
        @include bg-gradient(darken($btn-default, 1.5), $btn-default);
    }
    &:hover {
        color: $black !important;
        @include vendor-prefix('box-shadow', 'rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px');
        @include bg-gradient(lighten($btn-default, 2), $btn-default);
    }
    &.disabled,
    &[disabled] {
        color: lighten($black, 40);
        cursor: default;
        &.primary, &.secondary {
            color: rgba(255, 255, 255, .8);
        }
    }
    [class^='icon-'] {
        font-size: 120% !important;
    }
    &.has-icon-and-text [class^='icon-'] {
        margin-left: -6px;
        margin-right: 4px;
    }
    &.is-toggled {
        @include bg-gradient(darken($btn-default, 2.5), $btn-default);
    }
}